.sofarHeader {
    height: 300px;
    width: 100vw;
    display: flex;
    flex-direction: column;
    position: relative;

    .logoImage {
        width: 150px;
        margin: 20px;
    }
    .headerContent {
        font-size: 65px;
        color: white;
        margin: auto;
        font-weight: bold;
    }
    .bannerContainer {
        max-width: 100%; 
        overflow: hidden;
        position: absolute;
        z-index: -1;
        height: 300px;
    }
}