.sofarHeader {
    height: 300px;
    width: 100vw;
    display: flex;
    flex-direction: column;
    position: relative;

    .logoImage {
        width: 150px;
        margin: 20px;
    }
    .headerContent {
        font-size: 70px;
        color: white;
        margin: auto;
    }
    .headerBanner {
        position: absolute;
        clip: rect(0, 100vw, 300px, 0);
    }
}